html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f8ff;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  touch-action: none;
}

canvas {
  display: block;
  background: #e0f7fa;
  touch-action: none;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
}
